.container {
  background-color: #f1f1f1;
}

.movie__category {
  position: relative;
  top: 100px;
  text-align: center;
}

.movie__buttonContainer {
  width: 100%;
  height: 60px;
  background-color: rgba(240, 240, 240, 0.4);
  position: relative;
  transform: translateY(20px);
  display: flex;
  align-items: center;
  bottom: 0;
}
.movie__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 180px;
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
  cursor: pointer;
}
