.landingPage__imageContainer {
  margin-top: 100px;
  height: 100vh;

  position: relative;

  .landingPage__info {
    position: absolute;
    color: #fff;
    padding-left: 2vw;
    top: 40vh;

    .landingPage__title {
      font-size: 2vw;
      margin-top: 32px;
      margin-bottom: 18px;
    }

    .landingPage__overview {
      font-size: 1.6vw;
      margin-top: 32px;
      max-width: 30%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }

  .landingPage__image {
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    position: relative;
  }
}

.container {
  padding-left: 4vh;
  padding-bottom: 20px;
  margin-top: -20vh;
}
