.register__page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register__form {
    display: flex;
    flex-direction: column;

    .register__input {
      width: 320px;
      height: 40px;
      margin-bottom: 8px;
      border: solid 1px #dadada;
      text-indent: 8px;
      background-color: #3f4447;
      box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 2px 4px;
      color: rgba(255, 255, 255, 0.9);
      border: none;
      outline: none;
    }

    .register__button {
      background-color: #1ca8ed;
      height: 40px;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
}
