.register__page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register__form {
    display: flex;
    flex-direction: column;

    .register__input {
      width: 320px;
      height: 40px;
      margin-bottom: 8px;
      border: solid 1px #dadada;
      text-indent: 8px;

      &:focus {
        outline: none;
        border: solid 1px #1ca8ed;
      }
    }

    .register__button {
      background-color: #1ca8ed;
      height: 40px;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
}
