.contentsInfo__container {
  display: flex;
  // position: relative;
  // box-shadow: 10px 10px 10px 10px rgb(3, 7, 8) inset;
  // width: 100%;

  height: 500px;
}

.contensInfo__info {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  flex: 1 1 50%;
  padding-right: 20px;
  padding-left: 40px;
  background-color: rgba(11, 12, 13, 0.9);
  height: 500px;
  min-width: 500px;
}

.contentsInfo__imageContainer {
  flex: 1 1 60%;
  background: linear-gradient(
    rgba(11, 12, 13, 0) 0%,
    rgba(11, 12, 13, 0.17) 28%,
    rgba(11, 12, 13, 0.5) 62%,
    rgba(11, 12, 13, 0.85) 100%
  );
  box-shadow: 20px 0px 20px rgba(11, 12, 13, 0.9) inset;
}

.contentsInfo__image {
  height: 500px;
  width: 100%;
  z-index: -1;
  display: block;
  position: relative;
}

.contensInfo__title {
  font-size: 32px;
  font-weight: 700;
}

.contentsInfo__rating {
  font-size: 20px;
}

.contentsInfo__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating__title {
  display: inline-block;
  margin-right: 4px;
}

.rating__contents {
  display: inline-block;
  margin-right: 4px;
}

.rating__contents::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 16px;
  border-right: 2px solid #ffffff;
  margin-right: 6px;
}

.rating__adult::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 14px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  margin-left: 6px;
}

.rating__runtime,
.rating__adult {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

// contentsInfo__overview
.contentsInfo__overview {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  margin-top: 22px;
  margin-bottom: 24px;
}

// contentsInfo__casts

.contentsInfo__casts {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.casts__category {
  margin-bottom: 8px;
}
.casts__title {
  font-weight: 600;
  margin-right: 12px;
  display: inline-block;
  width: 92px;
}

.overview__members::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 14px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 6px;
}
