.contentsInfo__container {
  display: flex;
  min-height: 60vh;
  width: 100vw;

  // information container
  .contensInfo__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    width: 40%;
    padding: 0px 20px 20px 40px;
    background-color: rgba(11, 12, 13, 0.9);

    min-width: 500px;
    box-shadow: 20px 0px 20px rgba(11, 12, 13, 0.9);

    .contensInfo__title {
      font-size: 2.1vw;
      font-weight: 700;
      margin: 12px 0;
    }

    .contentsInfo__rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.2vw;

      .rating__title {
        display: inline-block;
        margin-right: 4px;
      }

      .rating__contents {
        display: inline-block;
        margin-right: 4px;
      }

      .rating__popularity::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 14px;
        border-right: 2px solid #ffffff;
        margin-right: 6px;
      }

      .rating__adult::before,
      .rating__runtime::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 12px;
        border-left: 2px solid rgba(255, 255, 255, 0.5);
        margin-left: 6px;
      }

      .rating__runtime,
      .rating__adult {
        font-size: 1vw;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 600;
      }
    }

    // contentsInfo__overview
    .contentsInfo__overview {
      font-weight: 500;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.2vw;
      margin-top: 22px;
      margin-bottom: 24px;
    }

    // contentsInfo__casts

    .contentsInfo__casts {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1vw;

      .casts__category {
        margin-bottom: 8px;
      }

      .casts__title {
        font-weight: 600;
        margin-right: 12px;
        display: inline-block;
        width: 92px;
      }

      .overview__members::after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 12px;
        border-right: 2px solid rgba(255, 255, 255, 0.5);
        margin-right: 6px;
      }
    }
  }

  // image container
  .contentsInfo__imageContainer {
    width: 60vw;
    background: linear-gradient(
      rgba(11, 12, 13, 0) 0%,
      rgba(11, 12, 13, 0.17) 28%,
      rgba(11, 12, 13, 0.5) 62%,
      rgba(11, 12, 13, 0.85) 100%
    );
    box-shadow: 20px 0px 20px rgba(11, 12, 13, 0.9) inset;

    .contentsInfo__image {
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      position: relative;
    }
  }
}
