.contentPage__container {
  padding-top: 80px;
  position: relative;
  // background-color: #f1f1f1;
  height: 100%;
}

.contentPage__recommendationContainer {
  padding-left: 40px;
  margin-top: 20px;
}

.contentPage__recommendationNone {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
}
