.like__container {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
  padding: 12px 0;

  .like__button {
    border: none;
    outline: none;

    & > svg {
      font-size: 24px;
      cursor: pointer;
    }
  }
}
