.like__container {
  height: 32px;
  display: flex;
  align-items: center;
  margin-top: 8px;

  .like__button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
  }

  .like__buttonOn {
    background-color: #1ca8ed;
    color: #ffffff;
    border: none;
  }

  .like__buttonText {
    margin-left: 4px;
    display: inline-block;
  }

  .like__numbers {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
  }
}
