.search__container {
  position: relative;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 14vh;

  .search__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8vw;
    margin-bottom: 2vh;
  }

  .search__lists {
    display: flex;
  }
}
