.search__container {
  position: relative;
  padding-left: 40px;
  padding-top: 100px;

  .search__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .search__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
