.error__page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c1c1c1;

  & > div:first-child {
    font-size: 48px;
  }

  & > div:last-child {
    font-size: 32px;
    font-weight: 300;
  }
}
