.grid__container {
  position: relative;
  top: 80px;
  display: grid;
  padding: 20px 20px;
  padding-bottom: 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  column-gap: 10px;
  row-gap: 10px;
  background-color: #f1f1f1;
}

.grid__images {
  border-radius: 8px;
  width: 100%;
  justify-self: center;
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
