.display__container {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 100%;

  .display__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 5;
    margin-bottom: 12px;

    .display__title {
      color: #ffffff;
      font-weight: 700;
      font-size: 24px;
    }

    .display__viewAll {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      font-weight: 500;
      margin-right: 24px;
      display: block;
      cursor: pointer;
    }
  }

  .display__items {
    position: relative;

    .display__item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      position: absolute;
      transition: transform 300ms linear;
    }

    &:hover {
      cursor: pointer;

      .display__button {
        z-index: 3;
      }
    }

    .display__button {
      z-index: -1;
      position: absolute;
      color: #ffffff;
      font-size: 32px;
      font-weight: 900;
      height: 130px;
      width: 48px;
      background-color: rgba(0, 0, 0, 0.6);

      &:hover {
        cursor: pointer;
      }
    }

    .display__leftBtn {
      transform: translateX(-40px);
    }

    .display__rightBtn {
      right: 10px;
      transform: translateX(10px);
    }
  }
}
