.card__imageContainer {
  margin-right: 0.4vw;
  list-style: none;
  box-sizing: border-box;
  flex-basis: 10%;

  .card__image {
    width: 15.4vw;
    height: 19vh;
    cursor: pointer;
    display: block;
  }

  .card__noImage {
    min-width: 15.4vw;
    height: 19vh;
    cursor: pointer;
    display: block;
    color: #c1c1c1;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 24px;
    line-height: 19vh;
  }

  .card__title {
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.1vw;
    font-weight: 600;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* ellipsis line */
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    height: 3.6em;
  }
}
.card__imageContainer:nth-child(6n) {
  margin-right: 0;
}
