.card__imageContainer {
  width: 200px;
  height: 160px;
  margin-right: 4px;
  list-style: none;
  margin-bottom: 32px;
  box-sizing: border-box;

  .card__image {
    width: 200px;
    height: 130px;
    cursor: pointer;
    display: block;

    &:hover {
      transform: scale(1.1);
      transition: transform 300ms linear;
    }
  }

  .card__noImage {
    width: 200px;
    height: 130px;
    cursor: pointer;
    display: block;
    color: #c1c1c1;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 24px;
    line-height: 130px;
  }

  .card__title {
    color: rgba(255, 255, 255, 0.95);
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
}
