a {
  text-decoration: none;
  color: #000;
}

.navbar__container {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 2;
  top: 0;

  .navbar__title {
    height: 28px;
    width: 120px;
    display: flex;
    align-items: center;
    margin: 0 12px;

    & > svg {
      font-size: 32px;
      margin-right: 4px;
    }
    & > span {
      font-size: 18px;
    }
  }

  .navbar__form {
    width: 100%;
  }
  .navbar__input {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    border-radius: 24px;
    border: 2px solid rgb(239, 239, 239);
    outline: none;
    color: #333;
    text-indent: 12px;
  }

  .navbar__input:focus {
    outline: none;
  }

  .navbar__control {
    height: 40px;
    display: flex;
    margin: 0 12px;
  }
  .navbar__button {
    width: 70px;
    border-radius: 24px;
    margin-left: 8px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease-in;

    &:hover {
      background-color: #1ca8ed;

      & > a {
        color: #fff;
      }
    }
  }
}
