a {
  text-decoration: none;
  color: #000;
}

.navbar__container {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  align-items: center;
  position: fixed;
  background-color: rgb(3, 7, 8);
  z-index: 10;
  top: 0;

  .navbar__title {
    height: 28px;
    width: 120px;
    display: flex;
    align-items: center;
    // margin:12px;
    // flex: 1 1 10%;

    & > svg {
      font-size: 32px;

      color: #fff;
    }
    .navbar__logo {
      font-size: 18px;
      color: #fff;
      margin: 0 12px;
    }
  }

  .navbar__form {
    // width: 76%;
    width: 100%;
    // flex: 1 1 80%;
  }
  .navbar__input {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    border-radius: 24px;
    border: 2px solid rgb(239, 239, 239);
    outline: none;
    color: #333;
    text-indent: 12px;
  }

  .navbar__input:focus {
    outline: none;
  }

  .navbar__control {
    height: 40px;
    display: flex;
    margin: 0 12px;
    padding-right: 24px;
    width: 240px;
    // flex: 1 1 10%;
    // right: 30px;
    position: relative;
  }
  .navbar__button {
    width: 70px;
    border-radius: 24px;
    margin-left: 8px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      background-color: #1ca8ed;

      & > a {
        color: #fff;
      }
    }
  }
}
