.movieInfo__container {
  position: relative;
  top: 120px;
  display: flex;
  margin: 0 20px;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.movieInfo__image {
  margin-right: 20px;
}
